{% extends "base.html" %}



{% block content %}

<style>
{% block style %}
{% endblock %}
</style>


<div class="container">
            {% block jumbotron %}

            {% endblock %}

<div class="jumbotron">
 <div class="container">
	<div class="row">
<div class='row'>
    <div class='col-sm-6 text-align: left'>
        <p><h2><u>About</u></h2></p></br>
        <p>Hi and welcome to my blog.</p>
        <p>My name is Fulgence, I am an analyst and data science enthusiast based in London. </p>
        <p>I write about real estate and cities, data mining, Python and Django programming.</p>
        <p>That's the plan, which also means an endless list of interests ranging from ice fishing, photography, basketball or food will have to be kept at bay and away from these pages!</p>
        <p>This site was hand-coded with <b>Django </b>, a web development framework based on <b>Python</b>, thanks to numerous open-source, online learning resources.</p></section></br></br></br>
    </div>
    <div class="col-sm-6 text-align right">
         <p><h2><u> </u></h2></p></br>
        <p><h2><u> </u></h2></p></br>
          <img  src="http://www.sunipix.com/Office%20Buildings-1.jpg" width="460" height="345" class="img-responsive">
    </div>
</div>

</div>
</div>
	</div>
</div>
</div>
</section>
</section>
 <div class="row">
							<div class="3u 12u(mobile)">

							</div>
</div>

</div>

<div class='row'>
</div>

{% endblock %}
