{% extends "base.html" %}


{% block content %}

<div class="container">
            {% block jumbotron %}

            {% endblock %}

<div class="jumbotron">
 <div class="container">
	<div class="row">
<div class='row'>
    <div class='col-sm-6 text-align: left'>

<br><p><h2><u>Work with us</u></h2></p></br>
<section>
<ul>
<li><p><b>Domain expertise and insights into:</b><p>housing and commercial real estate, cities and infrastructure planning, logistics and supply chain analysis, retail and FMCG sectors</p>
<li><p><b>Our services include:</b></p></li>
                            <ul>
                            <li><p>Market research and customer surveys</p></li>
                            <li><p>GIS and spatial data analytics</p></li>
                            <li><p>Predictive modelling, forecasting and tasks automation</p></li>
                            <li><p>Market feasibility analysis, impact studies, projects appraisal and financial analysis</p></li>
                            </ul>
<li><p><b>We provide operational support in:</b></p></li>
                            <ul>
                            <li><p>Translation and cultural interpretation services</p></li>
                            <li><p>Online presence, content management and engagement</p></li></br></br></br></br>
                            </ul>
</ul>
</section>
</style>

 </div>
<div class="col-sm-6 text-align right">
        <p><h2><u> </u></h2></p></br>
        <p><h2><u> </u></h2></p></br>
        <p><h2><u> </u></h2></p></br>
          <img  src="https://ak5.picdn.net/shutterstock/videos/1918687/thumb/1.jpg?i10c=img.resize(height:160)" width="460" height="345" class="img-rounded" class="img-responsive">
    </div>
</div>
</div>
	</div>

    <div class="row">
							<div class="3u 12u(mobile)">

							</div>
</div>

</div>

<div class='row'>
</div>

{% endblock %}
